.admin-panel{
    position: absolute;
    background-color: var(--navbar-color);
    border: 3px solid var(--general-color);
    width: 200px;
    height: auto;
    right: 30px;
    top: 80px;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
}

.admin-panel__section{
    display: flex;
    border-radius: 20px;
    width: 100%;
}
.admin-panel__list{
    width: 100%;
    padding: 0px;
    margin: 0px;   
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.admin-panel__item{
    margin: 0px;
    color: var(--general-color);
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--general-color);
    &:hover{
        background-color: var(--general-color);
        color: white;
        cursor: pointer;

    }
}

.admin-panel__title{
    height: 100%;
    background-color: var(--general-color);
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    user-select: none;
    margin-bottom: 1px;
}