
@import url("../../../../styles.css");   

.add-container {
    display: flex;
    height: 40px;
    border: 1px solid var(--general-color);
    background-color: rgba(231, 131, 61, 0.10);
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    pad: 4px;
    width: 96%;
}
.data-container {
    display: block;
}

.data-container__list{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-height: 200px;
}
.add-container__item {
    display: flex;
    flex: 0 1 auto; /* Permite que los elementos crezcan y se encojan */
    min-width: 50px;
    text-align: center;
    background-color: var(--navbar-color);
    border: 2px solid var(--general-color);
    border-radius: 30px;
    transition: background-color 0.3s ease;
    z-index: 100;
    padding: 8px;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 5px;
}
.add-container__text{
    font-size: 16px;
    margin: 0px auto;
}
.add-container__x{
    font-size: 14px;
    margin: 2px;
    position: absolute;
    right: 10px;
    top: -4px;
    font-weight: bold;
    &:hover{
        color: red;
        cursor: pointer;
    }
}

.selected-tech {
    background-color: var(--general-color);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.app-button {
    background-color: var(--general-color);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.data__list {
    margin: 0px;
    width: 560px;
    max-height: 150px;
    border: 5px solid var(--general-color);
    border-radius: 30px;
    background-color: var(--navbar-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    list-style: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    transition: opacity 0.3s ease;
    user-select: none;

}

.data__item {
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--general-color);
    transition: 0.5s background-color ease;
}

.data__item:hover {
    background-color: var(--general-color);
    color: white;
}

.data--disabled {
    display: none;
}

.add-container__button {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    text-align: center;
    user-select: none;
}

.select__type{
    color: var(--general-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0px 22px;
}

