<div class="select">
    <span class="select__type">{{typeData}}</span>
    <div class="add-container">

        <ul *ngIf='data'>
            <li *ngFor="let item of data"  (click)="deleteItem(item)"class="add-container__item">{{item.name}}</li>
        </ul>
        <div class="add-container__button">
        <app-button (buttonClick)="openSelect()" className="add-container__add">+</app-button>
        </div>
    </div>

    <div *ngIf="(dataList() | async) as data" class={{dataContainer}}>
        <ul class="data__list">
          <li *ngFor="let tech of data" (click)="addElement(tech)" class="data__item">
              {{ tech.name }}
          </li>
        </ul>
      </div>
</div>