<div class="select">
    <span class="select__type">{{typeData}}</span>
    <div class="data-container">
        <ul *ngIf='data' class="data-container__list">
            <li *ngFor="let item of data" (click)="deleteItem(item)" class="add-container__item">
                <span class="add-container__text">{{item.name}}</span>
            </li>
        </ul>
    </div>
    <div class="add-container">
        <div class="add-container__button" (click)="openSelect()">
            <app-button (buttonClick)="handleButtonClick($event)" className="add-container__add">
                <span class="add-container__plus">+</span>
            </app-button>
        </div>
    </div>

    <div *ngIf="(dataList() | async) as data" class="{{dataContainer}}">
        <ul class="data__list">
            <li *ngFor="let tech of data" (click)="addElement(tech)" class="data__item">
                {{ tech.name }}
            </li>
        </ul>
    </div>
</div>
