<div class="form-container">
    <form class="form" [formGroup]="formCreate">
        <app-text text="Crear {{type}}" className="form-container-title"></app-text>
        <app-button (buttonClick)="closeModal()" className="modal__close-button">X</app-button>

        <app-input text="Nombre">
            <input class="form__input" 
                   type="text" 
                   placeholder="Nombre de {{type}}" 
                   name="name" 
                   formControlName="name"
                   [ngClass]="{'invalid-input': name.invalid && (name.touched || name.dirty)}">

            <div *ngIf="name.invalid" class="form-error__message" [hidden]="name.valid || (name.pristine && (name.touched || name.touched))">
                <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                <app-text *ngIf="name.errors?.['required']" text="{{formErrors.nameRequired}}" textClass="form__error"></app-text>
                <app-text *ngIf="name.errors?.['maxlength']" text="{{formErrors.nameMaxLength}}" textClass="form__error"></app-text>
            </div>
        </app-input>

        <app-input text="Descripcion">
            <input class="form__input" 
                   name="description" 
                   placeholder="Descripcion de {{type}}" 
                   formControlName="description" 
                   [ngClass]="{'invalid-input': description.invalid && (description.touched || description.dirty)}">
            <div *ngIf="description.invalid" class="form-error__message" [hidden]="description.valid || (description.pristine && (description.touched || description.touched))">
                <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                <app-text *ngIf="description.errors?.['required']" text="{{formErrors.descriptionRequired}}" textClass="form__error"></app-text>
                <app-text *ngIf="description.errors?.['maxlength']" text="{{formErrors.descriptionMaxLength}}" textClass="form__error"></app-text>
            </div>
        </app-input>

        <app-button className="submit-button {{ formCreate.invalid ? 'submit-button__disabled' : '' }}" (buttonClick)="onSubmit()" [disabled]="formCreate.invalid">Crear</app-button>
    </form>
</div>


        <!-- @if(type == "Capacidad"){
            <app-input text="Tecnologias">
                <app-select [type]="type" (technologyListChanged)="onTechnologyListChanged($event)"></app-select>
            </app-input>
            <div *ngIf="technologiesForm?.invalid" class="form-error__message" [hidden] = "technologiesForm.valid || technologiesForm.pristine && (technologiesForm.touched || technologiesForm.touched)">
                <app-text *ngIf="technologiesForm?.errors?.['required']" text="SE REQUIERE TECNOLOGIAS"></app-text>
                <app-text *ngIf="technologiesForm?.errors?.['maxlength']" text="EL MAXIMO DE TECNOLOGIAS SON 20"></app-text>
                <app-text *ngIf="technologiesForm?.errors?.['minlength']" text="EL MINIMO DE TECNOLOGIAS SON 3"></app-text>
            </div>
        } -->