<div class="form-container">
    <form class="form" [formGroup]="formCreate">
        <header class="form-header">
            <app-text text="Crear {{type.toLowerCase()}}" className="form-container-title"></app-text>
            <app-button (buttonClick)="closeModal()" className="modal__close-button"><i class="fa-solid fa-x"></i></app-button>
        </header>
        
        <main class="form-main" *ngIf="type === 'Bootcamp' || type === 'Capacidad' || type === 'Tecnologia'">
            <section class="form-section">
                <app-input formControlName="name" text="Nombre" placeholder="Nombre de {{type}}" [invalid]="name.invalid && (name.touched || name.dirty)"></app-input>
                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="form-error__message">
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="name.errors?.['required']" [text]="constants.nameRequired" textClass="form__error"></app-text>
                    <app-text *ngIf="name.errors?.['maxlength']" [text]="constants.nameMaxLength" textClass="form__error"></app-text>
                </div>
            </section>

            <section class="form-section">
                <app-input text="Descripción" formControlName="description" placeholder="Descripción de {{type}}" [invalid]="description.invalid && (description.touched || description.dirty)"></app-input>
                <div *ngIf="description.invalid && (description.touched || description.dirty)" class="form-error__message">
                    
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="description.errors?.['required']" text="{{constants.descriptionRequired}}" textClass="form__error"></app-text>
                    <app-text *ngIf="description.errors?.['maxlength']" text="{{constants.descriptionMaxLength}}" textClass="form__error"></app-text>
                </div>
            </section> 
            
            <section class="form-section" *ngIf="type === 'Capacidad' || type === 'Bootcamp'">
                <app-select [type]="type" (dataListChanged)="onDataListChanged($event)"></app-select>
                <div *ngIf="dataForm.invalid"  class="form-error__message">
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="dataForm.errors?.['required']" text={{validators.required}} textClass="form__error"></app-text>
                    <app-text *ngIf="dataForm.errors?.['maxlength']" text={{validators.maxlengthMessage}} textClass="form__error"></app-text>
                    <app-text *ngIf="dataForm.errors?.['minlength']" text={{validators.minlengthMessage}} textClass="form__error"></app-text>
                </div>
            </section>
        </main>

        <main *ngIf="type === 'Version'">
            <section  on class="form-section">
                <app-input formControlName="maximumCapacity" text="Capacidad Maxima" inputType="number" placeholder="Capacidad maxima" [invalid]="maximumCapacity.invalid && (maximumCapacity.touched || maximumCapacity.dirty)"></app-input>
                <div *ngIf="maximumCapacity.invalid && (maximumCapacity.touched || maximumCapacity.dirty)" class="form-error__message">
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="maximumCapacity.errors?.['required']" [text]="constants.maximumCapacityRequired" textClass="form__error"></app-text>
                    <app-text *ngIf="maximumCapacity.errors?.['max']" [text]="constants.maximumCapacityMaxLength" textClass="form__error"></app-text>
                    <app-text *ngIf="maximumCapacity.errors?.['min']" [text]="constants.maximumCapacityMinLength" textClass="form__error"></app-text>
                </div>
            </section>

            <section  on class="form-section">
                <app-input formControlName="startDate" text="Fecha de inicio" inputType="date" placeholder="Fecha de inicio" [invalid]="startDate.invalid && (startDate.touched || startDate.dirty)"></app-input>
                <div *ngIf="startDate.invalid && (startDate.touched || startDate.dirty)" class="form-error__message">
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="startDate.errors?.['required']" [text]="constants.startDateRequired" textClass="form__error"></app-text>
                    <app-text *ngIf="startDate.errors?.['startDateInvalid']" [text]="constants.startDateInvalid" textClass="form__error"></app-text>
                    <app-text *ngIf="startDate.errors?.['yearInvalid']" [text]="constants.yearInvalid" textClass="form__error"></app-text>
                </div>
            </section>

            <section  on class="form-section">
                <app-input formControlName="endDate" text="Fecha de fin" inputType="date" placeholder="Fecha de fin" [invalid]="endDate.invalid && (endDate.touched || endDate.dirty)"></app-input>
                <div *ngIf="endDate.invalid && (endDate.touched || endDate.dirty)" class="form-error__message">
                    <i class="fa-solid fa-triangle-exclamation form__icon"></i>
                    <app-text *ngIf="endDate.errors?.['required']" [text]="constants.endDateRequired" textClass="form__error"></app-text>
                    <app-text *ngIf="endDate.errors?.['endDateInvalid']" [text]="constants.endDateBelowStartDate" textClass="form__error"></app-text>
                    <app-text *ngIf="endDate.errors?.['yearInvalid']" [text]="constants.yearInvalid" textClass="form__error"></app-text>

                </div>
            </section>

        </main>

        <footer class="form-footer">
            <app-button className="submit-button {{ formCreate.invalid ? 'submit-button__disabled' : '' }}" (buttonClick)="onSubmit()" [disabled]="formCreate.invalid">Crear</app-button>
        </footer>
    </form>
</div>
